@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
    --black: #2d2a43;
    --red: #fd9979;
    --orange: #e6c22c;
    --blue: #8b80b6;
    --white: #ffffff;
}


/* font titles */

.title {
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 52px !important;
    color: #2d2a43 !important;
}

.subtitle {
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 45px !important;
    color: #000000 !important;
}

.smalltitle {
    font-weight: 600 !important;
    font-size: 17px !important;
    line-height: normal !important;
    color: #000000 !important;
}

/* endfont */

.banner_header_image {
    margin-top: -100px;
    max-width: 700px;
    z-index: -11111 !important;
}

.right-text-center-mobile {
    position: absolute;
    left: 51%;
}

.right-corner-text {
    margin-top: 0px !important;
}

.input {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.textarea {
    font-size: 20px;
}

.icon {
    margin-top: 0;
    font-size: 20px;
}

.box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table {
    width: 100%;
    height: auto;
    overflow: auto;
}

td {
    border: none !important;
}

.card {
    height: 100%;
    position: relative;
    padding-bottom: 60px !important;
}

.start-button {
    width: 100%;
    bottom: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.card-button {
    color: var(--white);
    padding: 12px 36px;
    border-radius: 20px;
    background: #2d2a43;
    transition: all 0.3s ease;
}

.card-button:hover {
    color: var(--white);
    transform: scale(1.15);
    background: var(--blue);
}

.is-border-radius-20 {
    border-radius: 20px !important;
}

.is-text-light {
    color: var(--white);
}

.is-text-red {
    color: var(--red);
}

.is-text-orange {
    color: var(--orange);
}

.is-bg-orange {
    background: var(--orange) !important;
}

.modal-closer {
    float: right;
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    background: var(--red);
    justify-content: center;
}

.modal-closer i {
    cursor: pointer;
    color: var(--white);
}

.banner-button {
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    padding: 10px 30px;
    border-radius: 15px;
    color: var(--white);
    background: var(--orange);
    font-family: "Poppins", sans-serif;
}

.is-bg-red-500 {
    opacity: 1 !important;
    background: var(--red) !important;
}

ul li::before {
    content: "âº";
}

.modal-button {
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 50px;
    line-height: 30px;
    font-style: normal;
    margin: 20px 0 0 0;
    border-radius: 6px;
    background: var(--orange);
    font-family: "Poppins", sans-serif;
}

.modal-button:hover {
    color: var(--white) !important;
}

.modal-button:focus {
    color: var(--white) !important;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 60%;
}

.image-top-desktop {
    margin-top: -200px !important;
}

.next_btn,
.prev_btn {
    top: 45%;
    border: none;
    display: none;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    transition: 400ms;
    padding: 5px 13px;
    border-radius: 50%;
    position: absolute;
    background: #2d2a43;
}

.next_btn:hover,
.prev_btn:hover {
    transform: scale(1.05);
    background: var(--blue);
}

.next_btn {
    right: 5px;
}

.prev_btn {
    left: 5px;
}

.overflow-hidden {
    overflow: hidden !important;
}

.brand-box {
    padding: 30px;
    background: #fff;
    border-radius: 25px;
    align-items: center;
    transition: all 0.4s;
    justify-content: center;
    display: flex !important;
    margin: 25px 10px 10px 10px;
    filter: drop-shadow(0px 16px 30px rgba(0, 0, 0, 0.15));
}

.brand-box:hover {
    transform: translateY(-20px);
}

.is-overflow-auto {
    overflow: auto !important;
}

.mt-large {
    margin-top: 130px;
}

.mt-xxl-large {
    margin-top: 230px;
}

.is-bg-dark {
    background: #000;
}

.to-top-navigation {
    opacity: 0;
    right: 30px;
    bottom: 30px;
    color: #000;
    position: fixed;
    padding: 10px 14px;
    border-radius: 50%;
    z-index: 1111111111;
    transition: all 0.3s;
    background: var(--orange);
}

.to-top-navigation:hover {
    color: #fff;
    background: var(--blue);
}

.is-navigation-active {
    opacity: 1;
}

.top-minus-5 {
    margin-top: -50px;
}

.animation-flex {
    display: flex;
    letter-spacing: 5px;
}

.animate-hover {
    cursor: default;
    transition: all 0.3s;
}

.animate-hover:hover {
    cursor: default;
    color: var(--blue);
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #ffc033;
        box-shadow: 0 0 0 0 #ffc033;
    }

    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgb(204 169 44 / 0%);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgb(204 169 44 / 0%);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.centered-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-image img {
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-name: infinite-rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes infinite-rotate {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.is-button-middle {
    font-size: 16px;
    padding: 6px 30px;
    margin: 0 !important;
}

.is-hoverable-orange:hover {
    color: #000;
    transition: all 0.3s;
    background: var(--orange);
}

.narrow-img {
    max-width: 600px;
    margin-top: -150px;
    margin-left: -90px !important;
}

.narrow-img-small {
    margin-left: -50px !important;
}

@media (max-width: 550px) {
    .is-w-300 {
        width: 500px !important;
    }

    .animation-flex {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .is-flex {
        flex-direction: column !important;
    }

    .is-flex-wrap-wrap-reverse {
        flex-direction: column-reverse !important;
    }

    .start-button {
        position: static !important;
    }

    .banner-header-text {
        text-align: center;
        margin-top: -10px !important;
    }

    .bottom-text>h3,
    p {
        font-size: 20px;
        margin-top: -30px !important;
    }

    .right-text-center-mobile {
        position: static !important;
        text-align: center !important;
        margin-bottom: 50px !important;
    }

    .is-top-mobile-3 {
        margin-top: 10px !important;
    }

    .slider-mobile {
        width: 100%;
        height: 600px;
        margin: 0 !important;
        padding: 0 !important;
        transition: all 0.4s ease;
    }

    .slider-mobile .column {
        position: absolute;
    }

    .next_btn,
    .prev_btn {
        display: block;
    }

    .slider-active {
        transform: translateX(0) !important;
    }

    .is-full-width-mobile {
        width: 100% !important;
    }

    .has-text-centered-mobile {
        text-align: center;
    }

    .mt-xxl-large {
        margin-top: 30px;
    }

    .animation-flex {
        align-items: center;
        letter-spacing: 0px;
        flex-wrap: wrap !important;
        justify-content: center;
    }

    .brand-box {
        padding: 10px;
        width: 94%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-minus-5 {
        margin-top: 0;
    }

    .banner-button {
        font-size: 12px !important;
        padding: 4px 30px !important;
        border-radius: 4px !important;
    }

    .narrow-img {
        margin-left: -90px !important;
        margin-top: -10px;
    }

    .narrow-img-small {
        margin-left: -50px !important;
        position: static !important;
    }

    .banner_header_image {
        width: 100% !important;
        max-width: auto !important;
        margin-top: -40px !important;
        position: static !important;
    }
}

@media (max-width: 970px) {
    .image-top-desktop {
        margin-top: -100px !important;
    }

    .banner_header_image {
        max-width: 500px !important;
    }
}

@media (max-width: 1100px) {
    .container {
        width: 88% !important;
        margin-left: 6% !important;
        margin-right: 6% !important;
    }

    .is-button-middle {
        margin-top: 20px !important;
    }
}

@media (min-width: 1200px) {
    .banner-button {
        margin-top: 40px !important;
    }

    .image-top-desktop {
        margin-top: -110px;
        padding-right: 60px;
    }
}

@media (max-width: 1200px) {
    .is-top-5-mobile {
        margin-top: 70px;
    }

    .banner_header_image {
        max-width: 600px !important;
    }
}

@media (max-width: 1000px) {
    .is-top-5-mobile {
        margin-top: 20px;
    }

    .banner_header_image {
        margin-top: -100px;
    }
}

@media (max-width: 1120px) {
    .is-top-tablet-3 {
        margin-top: 30px;
    }
}

.notification.is-warning {
    width: 700px;
    display: flex;
    padding: 14px 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background: var(--orange) !important;
}

.has-text-decoration-none {
    text-decoration: none !important;
}

div[style~="width:100%;z-index:99999;position:fixed;pointer-events:none;display:flex;flex-direction:column;padding:15px;top:0;left:0;right:0;bottom:0;flex-flow:column;justify-content:center;align-items:center;"] {
    background: rgba(0, 0, 0, 0.5) !important;
}

.navbar {
    padding: 10px 0;
}

.navbar-button-1,
.navbar-button-2 {
    width: 160px;
    padding: 4px 0 6px 0;
    text-align: center;
    margin-right: 10px;
    border-radius: 20px;
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    border: 3px solid var(--black);
}

.navbar-button-1:hover {
    color: #fff;
    background: var(--black);
}

.navbar-button-2:hover {
    color: #fff;
}

.navbar-button-1 {
    color: var(--black);
    margin-left: 10px !important;
}

.navbar-button-2 {
    color: #fff;
    background: var(--black);
}

.navbar-burger {
    top: 11px;
    right: 0;
}

@media (max-width: 1023px) {
    .responsive-buttons a {
        margin: auto !important;
    }
}

@media (max-width: 446px) {
    .responsive-buttons a {
        display: block !important;
        margin: 6px auto !important;
    }
}

.footer-column {
    display: flex !important;
    align-items: center !important;
}

.footer-column.social-media a {
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    border-radius: 50%;
    background: var(--black);
    align-items: center;
    justify-content: center;
}

.footer-column i {
    color: #fff;
    font-size: 20px;
}

@media (max-width: 767px) {
    .has-text-top-mobile {
        margin-top: -5px !important;
    }
}