<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robocode | Tugadi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="icon" href="../img/favicon.svg">
</head>
<body>

    <nav class="nav">
        <div class="container">
            <a href="/" class="nav_logo">
                <img src="../img/LOGO.png" alt="">
                <img src="../img/favicon.svg" alt="" class="phone_logo">
            </a>

            <div class="nav_buttons test_nav">
                <a href="/" class="btn complete_test">Ortga qaytish</a>
            </div>
        </div>
    </nav>

    <section class="complete">
        <div class="container">
            <div class="complete_content">
                <h1 class="complete_title">Tugadi !</h1>
                <h3 class="complete_subtitle">Sizga Front End dasturchi kasbi <span>83%</span> mos keladi.</h3>
                <p class="complete_text complete_text1"><span>Front End</span> – bu turli xil web-saytlar, web-ilovalarning bizga ko’rinib turgan qismi hisoblanadi. Siz ko’rgan barcha saytlardagi turli xil animatsiyalar, tugmalar, matnlar, rasmlar va boshqa barcha bizga ko’rinib turgan qismi Front Endga kiradi.</p>
                <p class="complete_text complete_text2"><span>Front End dasturchi</span> – bu o’sha saytni Front End qismini yaratuvchi dasturchi hisoblanadi.</p>
                <p class="complete_text complete_text2"><span>ROBOCODE IT ACADEMY</span> sizga ushbu kasbni egalishingizda o’z kurslarini va malakali dasturchilarini taklif etadi!</p>
                <a href="#" class="btn complete_btn">Bepul sinov darsiga yozilish</a>
            </div>
            <img src="../img/target.png" alt="" class="complete_img">
        </div>
    </section>

    <modal class="modal header_modal complete_modal">
        <div class="modal_content">
            <h3 class="modal_title appl_title">Bepul sinov darsga yozilish uchun avval quyidagi formani to’ldiring.</h3>
            <p class="modal_text appl_text">Ma’lumotlaringiz 3-shaxslar qo’liga tushmasligi ta’minlanadi.</p>
            <form action="#" class="application">
                <fieldset class="fieldset">
                    <label for="name&surname" class="label">Ism va Familya</label>
                    <input type="text" class="input" name="name&surname" placeholder="Abdulloh Abdullayev">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="phone" class="label">Telefon *</label>
                    <input type="text" class="input" name="phone" placeholder="+998" required>
                </fieldset>
                <fieldset class="fieldset">
                    <label for="text" class="label">Yosh *</label>
                    <input type="text" class="input" name="age" placeholder="9-30" required>
                </fieldset>
                <button type="submit" class="btn contact_btn begin_test">Sinovni boshlash</button>
            </form>
        </div>
        <img src="../img/times.png" alt="" class="modal_close">
    </modal>

    <modal class="modal notification">
        <div class="modal_content">
            <h3 class="notification_title">Qabul qilindi!</h3>
            <p class="notification_text">Tez orada siz bilan ko’rsatilgan raqam orqali bog’lanishadi. <br> Agar uzrli sabablarga ko’ra siz bilan bog’lanishmasa <a href="#">mana bu</a> manzilga telegram orqali yozing.</p>
        </div>
        <img src="../img/close_black.png" alt="" class="modal_close">
    </modal>

    <script src="../js/complete.js"></script>

</body>
</html>