<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Box Robocode</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
</head>

<body>


    <!-- navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <router-link to="/">
                    <img src="/static/assets/images/logo.png" alt="" />
                </router-link>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons responsive-buttons">
                            <router-link to="/" class="navbar-button-1">
                                Kasb tanlash
                            </router-link>
                            <router-link to="/" class="navbar-button-2">
                                Umumiy test
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    {% block content %}

    {% endblock %}

    <!-- footer -->
    <div class="footer is-bg-orange">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <img src="/static/assets/images/logo.png" alt="">
                    <br>
                    <br>
                    <p class="has-text-top-mobile">O’quvchilar va qiziquvchilarni bilim darajalarini sinash
                        va yagona kirish imtihonini olish hamda kasb tanlashga ko’maklashuvchi ilova.</p>
                    <br>
                    <br>
                    <p>
                        <strong>ROBOCODE IT ACADEMY 2022 yil</strong>
                    </p>
                </div>
                <div class="column footer-column pt-5">
                    <a href="tel:+998998999005" class="has-text-black">
                        <b>
                            +998 99 899 90 05
                        </b>
                    </a>
                </div>
                <div class="column footer-column social-media pt-5">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- end footer -->

    <script src="/static/js/main.js"></script>
</body>

</html>